
:root {
    --primary-light: #50232e;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ce5f2d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    border: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em 0;
}

.title {
    font-size: 6em;
    color: #f9b966;

}

main {
    margin-top: 1em;
    text-align: center;
}

.scoreboard {
    margin-bottom: 5em;
}

.score-info {
    font-size: 3.5em;
    
}

.score-message {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 50em;
    padding: 2em;
    margin: 0 auto;
    flex-wrap: wrap;
}

.score-box {
    width: 10em;
}

.score {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
}

.sign {
    font-size: 3em;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

img {
    width: 15em;
    height: 30%;
}

.btn{
    border-radius: 0.5em;
}

.btn:hover {
    background-color: #aa4b1e;
    transform: rotate(360deg) scale(1.2);
    border-radius: 5em;
    transition: transform 0.3s ease-in-out;
}

.btn:active {
    background-color: #aa4b1e;
}


.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fac650;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal-title {
    font-size: 40px;
    font-weight: bold;
}
  
.btn-restart {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}
  
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
  
.overlay.active {
    display: block;
}


/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.1em;
    width: 100%;
    padding: 0.5em;
    color: #aa4b1e;
    font-size: 20px;
    background-color: black;
  }

.fa-github {
    color: var(--primary-light);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }


.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  } 